<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление балконного блока</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleS.css}"/>
</head>
<body>
<h2>Введите размеры балконного блока:</h2>

<img width="300px" th:src="@{/images/balconyBlock_dimensions.jpg}" />
<form method="PATCH" th:action="@{/balconyBlocks/saveBalconyBlock}" th:object="${balconyBlock}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <input type="hidden" th:field="*{room}" id="room"/>
    <label for="height">Высота H:
    <input type="number" name="height" id="height"/></label>
    <label for="width">Ширина B:
    <input type="number" name="width" id="width"/></label>
    <label for="heightSmall">Высота окна h:
    <input type="number" name="heightSmall" id="heightSmall"/></label>
    <label for="widthSmall">Ширина окна b:
    <input type="number" name="widthSmall" id="widthSmall"/></label>
    <label for="depth">Глубина балконного блока:
    <input type="number" name="depth" id="depth"/></label>
    <input type="submit" value="Добавить балконный блок"/>
</form>

</body>
</html>