<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление балконного блока</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Введите размеры балконного блока:</h2>

<img width="300px" th:src="@{/images/balconyBlock_dimensions.jpg}" />
<form method="PATCH" th:action="@{/balconyBlocks/saveBalconyBlock}" th:object="${balconyBlock}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <br>
    <input type="hidden" th:field="*{room}" id="room"/>
    <br>
    <label for="height">Высота H:</label>
    <input type="number" name="height" id="height"/>
    <br>
    <label for="width">Ширина B:</label>
    <input type="number" name="width" id="width"/>
    <br>
    <label for="heightSmall">Высота окна h:</label>
    <input type="number" name="heightSmall" id="heightSmall"/>
    <br>
    <label for="widthSmall">Ширина окна b:</label>
    <input type="number" name="widthSmall" id="widthSmall"/>
    <br>
    <label for="depth">Глубина балконного блока</label>
    <input type="number" name="depth" id="depth"/>
    <br>
    <input type="submit" value="Добавить балконный блок"/>
    <br>
</form>

</body>
</html>