/* Общие стили таблицы */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th, td {
    border: 2px solid chocolate;
    background: antiquewhite;
    padding: 0;
    text-align: left;
    word-break: keep-all;
}

.room li {
    list-style-type: decimal;
    padding-top: 5px;
}

.winRoom {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid green;
}

.doorsRoom {
    width: 40px;
    height: 70px;
    border-radius: 5px;
    border: 3px solid green;
}

.room, .calculateRoom {
    padding: 0;
    border: 3px solid antiquewhite;
    background: antiquewhite;

}

.leadTime {
    width: auto;
    table-layout: fixed;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-family: cursive, sans-serif;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-family: cursive, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Стили для формы */
form {
    line-height: 2em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


a {
    list-style-type: square;
    font-family: cursive, sans-serif;
    color: green;
}


#flats li {
    list-style-type: square;

}



input[type="text"], select {

    padding: 10px;
    border: 2px solid chocolate;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: chocolate;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Стили для сообщения об ошибке */
.error {
    color: red;
    margin-bottom: 10px;
}

.deleteA {
    color: red;
}
.deleteB {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    background: #E8CCB5;
    color: red;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.addedR, .addedL, .addedF {
    display: inline-block;
    border-radius: 5px;
    border: 3px solid green;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    background: greenyellow;
    color: green;
}
