<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление двери</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Введите размеры двери:</h2>

<form method="PATCH" th:action="@{/doors/saveDoor}" th:object="${door}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <br>
    <input type="hidden" th:field="*{room}" id="room"/>
    <br>
    <label for="height">Высота</label>
    <input type="number" name="height" id="height"/>
    <br>
    <label for="width">Ширина</label>
    <input type="number" name="width" id="width"/>
    <br>
    <label for="depth">Глубина</label>
    <input type="number" name="depth" id="depth"/>
    <br>
    <input type="submit" value="Добавить двери"/>
    <br>
</form>

</body>
</html>