<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обьекты</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/info_flat.css}"/>
</head>
<body>
<h1>Калькуляция по объекту <td th:text="${flat.address}"/> </h1>

<table>
    <tbody>
    <tr>
        <th>Поверхность</th>
        <th>Вид работы</th>
        <th>Сумма</th>
    </tr>
    <tr th:each="set :${flat.getCalculateFlat()}">
        <td th:text="${set.getKey().getSurface()}"></td>
        <td th:text="${set.getKey().getType()}"></td>
        <td th:text="${set.getValue()} + ' грн'"></td>

    </tr>
    <tr>
        <td colspan="2">ИТОГО:</td>
        <td th:text="${flat.getAllCost}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>