<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обьекты</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/info_flat.css}"/>
</head>
<body>
<h1>Список объектов</h1>

<table class="infoFlat">
    <tbody>
    <tr>
        <th>Дата</th>
        <th>Калькуляция по объекту</th>
    </tr>
    <tr th:each="infoOfFlat : ${listInfoOfFlat}">

        <td th:text="${infoOfFlat.getLocalDateTime}" ></td>
        <td th:text="${infoOfFlat.getInfo}" ></td>
    </tr>
    </tbody>

</table>
</body>
</html>