<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обьекты</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/info_flat.css}"/>
</head>
<body>
<h1>Калькуляция по объекту <td th:text="${flat.address}"/> </h1>

<table>
    <tbody>
    <tr>
        <th>Дата</th>
        <th>Калькуляция по объекту</th>
        <th>Сохранить данные по объекту</th>
    </tr>
    <tr>
        <td th:text="${time}" ></td>
        <td th:text="${info}" ></td>
        <td><a th:href="@{../../saveInfoOfFlat/{id}(id=${flat.getId()})}">Сохранить</a></td>
    </tr>
    </tbody>

</table>
</body>
</html>