<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Обьекты</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/css/info_flat.css}"/>
</head>
<body>
<h1>Сохраненные калькуляции по объекту <td th:text="${flat.address}"/></h1>

<table class="infoFlat">
    <tbody>
    <tr>
        <th>Дата</th>

    </tr>
    <tr th:each="infoOfFlat : ${listInfoOfFlat}">

        <td><a th:href="@{/viewInfo/{id}(id=${infoOfFlat.getId})}" th:text='${infoOfFlat.dateTimeToString()}'></a></td>

    </tr>
    </tbody>

</table>
</body>
</html>