<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление окна</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Введите размеры окна:</h2>

<form method="PATCH" th:action="@{/roomWindows/saveWindow}" th:object="${roomWindow}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <br>
    <input type="hidden" th:field="*{room}" id="room"/>
    <br>
    <label for="height">Высота</label>
    <input type="number" th:field="*{height}" id="height"/>
    <br>
    <label for="width">Ширина</label>
    <input type="number" th:field="*{width}" id="width"/>
    <br>
    <label for="depth">Глубина</label>
    <input type="number" th:field="*{depth}" id="depth"/>
    <br>
    <input type="submit" value="Add window"/>
    <br>
</form>

</body>
</html>