<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add flat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleS.css}"/>
</head>
<body>
<form th:method="post" th:action="@{/flats}" th:object="${flat}">
    <label for="address">Адресс</label>
    <input type="text" th:field="*{address}" id="address"/>
    <br>
    <label for="customerName">ФИО заказчика</label>
    <input type="text" th:field="*{customerName}" id="customerName"/>
    <br>
    <label for="customerPhone">Телефон для связи</label>
    <input type="text" th:field="*{customerPhone}" id="customerPhone"/>
    <br>
    <input type="submit" value="Добавить объект"/>
</form>

</body>
</html>