<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Обновить данные</title>
</head>
<body>
<form th:method="patch" th:action="@{/flats/updateFlat/{id}(id=${flat.id})}" th:object="${flat}">
    <input type="text" hidden th:field="*{id}" id="id"/>
    <br>
    <label for="address">Адресс: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br>
    <label for="customerName">ФИО заказчика: </label>
    <input type="text" th:field="*{customerName}" id="customerName"/>
    <br>
    <label for="customerPhone">Телефон для связи: </label>
    <input type="text" th:field="*{customerPhone}" id="customerPhone"/>
    <br>
    <input type="submit" value="Обновить"/>
</form>
</body>
</html>