<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" >
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/styleS.css"/>
    <meta charset="UTF-8">
    <title>Данные объекта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleS.css}"/>
</head>
<body>
<h2>Данные объекта <td th:text="${flat.address}"/></h2>
<table class="flat">
    <tbody>
    <tr>
        <th>Список комнат</th>
        <th>Калькуляция по объекту</th>
        <th>Добавить комнату</th>
    </tr>
    <tr>
        <td>
            <table class="room" >
                <tbody>
                <tr>
                    <th></th>
                    <th >Форма и размеры комнаты</th>
                    <th >Данные комнаты</th>
                    <th >Расчёты комнаты</th>

                </tr>

                <tr th:if="${flat.getRooms}" th:each="room : ${flat.getRooms}">
                    <td><a class="deleteB" th:href="@{../../rooms/deleteRoom/{id}(id=${room.getId()})}">Удалить комнату</a>
                    </td>
                    <td>
                        <p th:text="${room.name}"></p>
                        <span th:switch="${room.form.name()}">
                                <p th:case="'RECTANGLE'"><img th:src="@{/images/Rectangle.jpg}" width="100px"/></p>
                                <p th:case="'L_SHAPED'"><img width="100px" th:src="@{/images/L_shaped.png}"/></p>
                                <p th:case="'FREE'"><img width="100px" th:src="@{/images/FreeRoom.jpg}"/></p>
                                </span>
                        <span>Высота:</span><span th:text="${room.height}"></span>
                        <br>

                        <span th:switch="${room.form.name()}">
                                <span th:case="'RECTANGLE'">
                                    <p>Ширина:<span th:text="${room.width}"></span></p>
                                    <p>Длинна:<span th:text="${room.length}"></span></p>
                                    <br>
                                </span>
                            <span th:case="'L_SHAPED'">
                                    <p>Ширина:<span th:text="${room.width}"></span></p>
                                    <p>Длинна:<span th:text="${room.length}"></span></p>
                                    <p>Меньшая ширина:<span th:text="${room.widthSmall}"></span></p>
                                    <p>Меньшая длинна:<span th:text="${room.lengthSmall}"></span></p>
                            </span>
                            <span th:case="'FREE'">
                                    <p>Ширина описанного прямоугольника:<span th:text="${room.widthOfCircumscribedRectangle}"></span></p>
                                    <p>Длинна описанного прямоугольника:</p><span th:text="${room.lengthOfCircumscribedRectangle}"></span></p>
                                    <p>Длины стен:
                                    <br>
                                    <span th:text="${room.listOfWallLengths}"></span></p>
                                    <p>Прямоугольники для вычета из описанного:
                                    <br>
                                    <span th:text="${room.rectanglesToExtractFromCircumscribedRectangle}"></span></p>
                            </span>
                        </span>
                        <a th:href="@{../../rooms/editRoomDimensions/{id}(id=${room.id})}">Изменить</a>
                    </td>
                    <td style="white-space: nowrap">
                        <p th:if="${room.getRoomWindows}" >
                            <span>Окна (BxHxd):</span><br>
                            <span th:each="roomWindow : ${room.getRoomWindows}">
                            <span th:text="${roomWindow.getWidth()} + ' *'"></span>
                            <span th:text="${roomWindow.getHeight()} + ' *'"></span>
                            <span th:text="${roomWindow.getDepth()}"></span>
                            <a class="deleteA" th:href="@{../../roomWindows/deleteWindow/{id}(id=${roomWindow.id})}">Удалить</a><br>
                            </span></p>
                        <p th:if="${room.getDoors()}">
                            Двери (BxHxd):<br>
                        <span  th:each="door : ${room.getDoors()}">
                            <span th:text="${door.getWidth()} + ' *'"></span>
                            <span th:text="${door.getHeight()} + ' *'"></span>
                            <span th:text="${door.getDepth()}"></span>
                            <a class="deleteA" th:href="@{../../doors/deleteDoor/{id}(id=${door.id})}">Удалить</a><br>
                            </span><br></p>

                        <p th:if="${room.getWalls}">
                            Перегородки:<br>
                        <span  th:each="wall : ${room.getWalls}">
                            <span th:text="${wall.length}"></span><span> *</span>
                            <span th:text="${wall.depth}"></span>
                            <a th:href="@{../../walls/editWall/{id}(id=${wall.id})}">Изменить</a><br>
                        </span></p>

                        <p th:if="${room.getBalconyBlocks()}">
                            Балконные блоки (BxHxhxbxd):<br>
                        <span  th:each="balconyBlock : ${room.getBalconyBlocks()}">
                            <span th:text="${balconyBlock.getWidth()}"></span><span> *</span>
                            <span th:text="${balconyBlock.getHeight()}"></span><span> /</span>
                            <span th:text="${balconyBlock.getHeightSmall()}"></span><span> *</span>
                            <span th:text="${balconyBlock.getWidthSmall()}"></span><span> /</span>
                            <span th:text="${balconyBlock.getDepth()}"></span><br>
                            <a class="deleteA" th:href="@{../../balconyBlocks/deleteBalconyBlock/{id}(id=${balconyBlock.id})}">Удалить</a><br>
                        </span><br></p>

                        <p>Добавить:</p>
                        <p><a th:href="@{../../roomWindows/addWindow/{id}(id=${room.id})}" title="Окно"><img th:src="@{/images/win_1.jpg}" class="winRoom" alt="Окно"/></a></p>
                        <p><a th:href="@{../../balconyBlocks/addBalconyBlock/{id}(id=${room.id})}" title="Балконный блок"><img th:src="@{/images/balconyBlock.jpg}" class="winRoom" alt="Балконный блок"/></a></p>
                        <p><a th:href="@{../../doors/addDoor/{id}(id=${room.id})}" title="Двери"><img th:src="@{/images/door_1.jpg}" class="doorsRoom" alt="Двери"/></a></p>
                        <p><a th:href="@{../../walls/addWall/{id}(id=${room.id})}">Стену-перегородку</a></p>
                    </td>
                    <td style="white-space: nowrap">
                        <p>Площадь :
                        <br>
                        <span> - пола: </span><span th:text="${room.getFloorArea} + м2"></span>
                        <br>
                        <span> - потолка: </span><span th:text="${room.getCeilingArea} + м2"></span>
                        <br>
                        <span> - стен (общая): </span><span th:text="${room.getWallsArea} + м2"></span>
                        <br>
                        <span th:if="${room.getPartitionWallsArea()}"> в том числе стен-перегородок:<span  th:text="${room.getPartitionWallsArea} + м2"></span>
                        <span> площадь пола под перегородкой: </span><span th:text="${room.getPartitionWallsArea} + м2"></span><br></span>
                        <span th:if="${room.getWindowSlopeArea}"> - оконных откосов:<span th:text="${room.getWindowSlopeArea} + м2"></span><br></span>
                        <span th:if="${room.getDoorSlopeArea()}"> - дверных откосов:<span th:text="${room.getDoorSlopeArea} + м2"></span><br></span>
                        <span th:if="${room.getBalconyBlockSlopeArea}"> - откосов балконных блоков: <span th:text="${room.getBalconyBlockSlopeArea} + м2"></span><br></span>
                        <p>Периметр пола: <span th:text="${room.getFloorPerimeter} + мп"></span></p>
                        <p th:if="${room.getBalconyBlockSlopePerimeter}">Периметр откосов балконных блоков: <span th:text="${room.getBalconyBlockSlopePerimeter} + мп"></span></p>
                        <p th:if="${room.getDoorPerimeter()}">Периметр дверных откосов: <span th:text="${room.getDoorPerimeter()} + мп"></span></p>
                        <p th:if="${room.getWindowSlopePerimeter()}">Периметр оконных откосов: <span th:text="${room.getWindowSlopePerimeter()} + мп"></span></p>

                        <table class="calculateRoom" th:width="50">
                            <caption>Основные работы</caption>
                            <tbody>
                            <tr>
                                <th>Surface</th>
                                <th>Вид работы</th>
                                <th>Сумма</th>
                            </tr>
                            <tr th:each="map :${room.getCalculationOfCostOfBasicWork()}">
                                <td><span th:text="${map.getKey().getSurface()}"></span></td>
                                <td><span th:text="${map.getKey().getType()}"></span>
                                    <span th:text="${map.getValue().get(0)} +' ' + ${map.getKey().getUnit()} +' * '+ ${map.getKey().getAmount()} +'='"></span>
                                </td>
                                <td th:text="${map.getValue().get(1)} + ' грн'"></td>
                            </tr>
                            <tr >
                                <td colspan="2">ИТОГО:</td>
                                <td th:text="${room.allCostOfBasicWork}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>

                        <table class="calculateRoom" th:width="50">
                            <caption>Дополнительные работы</caption>
                            <tbody>
                            <tr>
                                <th>Surface</th>
                                <th>Вид работы</th>
                                <th>Сумма</th>
                            </tr>
                            <tr th:each="map :${room.getCalculationOfCostOfAdditionalWork()}">
                                <td><span th:text="${map.getKey().getPrice().getSurface()}"></span></td>
                                <td><span th:text="${map.getKey().getPrice().getType()}"></span>
                                    <span th:text="${map.getKey().getValueForCalculation()} +' ' + ${map.getKey().getPrice().getUnit()} +' * '+ ${map.getKey().getPrice().getAmount()} +'='"></span>
                                </td>
                                <td th:text="${map.getValue()}"></td>
                            </tr>
                            <tr >
                                <td colspan="2">ИТОГО:</td>
                                <td th:text="${room.allCostOfAdditionalWork}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>

                        <a th:href="@{../../prices/addPriceSet/{id}(id=${room.id})}">Добавить прайс работ по комнате</a>
                        <br>
                        <a th:href="@{../../prices/editPriceSet/{id}(id=${room.id})}">Просмотреть или изменить прайс работ по комнате</a>
                        <br>
                        <a th:href="@{../../additionalWorks/addAdditionalWorks/{id}(id=${room.id})}">Добавить дополнительные работы по комнате</a>
                        <br>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <tbody>
                    <tr>
                        <th>Surface</th>
                        <th>Вид работы</th>
                        <th>Сумма</th>
                    </tr>
                    <tr th:each="set :${flat.getCalculateFlat()}">
                        <td><span th:text="${set.getKey().getSurface()}"></span></td>
                        <td><span th:text="${set.getKey().getType()}"></span>
                            <span th:text="${set.getValue().get(0)} +' ' + ${set.getKey().getUnit()} +' * '+ ${set.getKey().getAmount()} +'='"></span>
                        </td>
                        <td th:text="${set.getValue().get(1)} + ' грн'"></td>

                    </tr>
                    <tr>
                        <td colspan="2">ИТОГО:</td>
                        <td th:text="${flat.getAllCost}"></td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{../../saveInfoOfFlat/{id}(id=${flat.getId()})}">Сохранить данные по объекту</a>
            <br>
            <a th:href="@{../../viewInfo/{id}(id=${flat.getId()})}">Вывести данные калькуляции для печати</a>
            <br>

            <a th:href="@{../../viewInfoOfFlat/{id}(id=${flat.getId()})}">Просмотреть сохраненные данные по объекту</a>
        </td>
        <td>
            <p>Добавить комнату:</p>
            <a class="addedR" th:href="@{../../rooms/addRectangleRoom/{id}(id=${flat.getId()})}" >Прямоугольную</a>
            <a class="addedL" th:href="@{../../rooms/addL_shapedRoom/{id}(id=${flat.getId()})}" >Г-образную</a>
            <a class="addedF" th:href="@{../../rooms/addFreeFormRoom/{id}(id=${flat.getId()})}">Произвольной формы</a>
        </td>
    </tr>
    </tbody>
</table>
<div><li><a href="../../flats">Вернуться к списку объектов</a></li></div>

</body>
</html>