<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Данные объекта</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Данные объекта <td th:text="${flat.address}"/></h2>
<table class="flat">
    <tbody>
    <tr>
        <th>Адресс</th>
        <th>Список комнат</th>
        <th>Добавить комнату</th>
        <th>Калькуляция по объекту</th>
    </tr>
    <tr>
        <td><a th:text="${flat.getAddress}">Адресс</a></td>
        <td>
            <table class="room">
                <tbody>
                <tr>
                    <th rowspan="2">Название комнаты</th>
                    <th rowspan="2">Форма комнаты</th>
                    <th rowspan="2">Данные комнаты</th>
                    <th rowspan="2">Расчёты комнаты</th>
                    <th rowspan="2">Прайс работ по комнате</th>
                    <th colspan="3">Калькуляция по комнате</th>
                    <th rowspan="2">Добавить/удалить проемы</th>
                    <th rowspan="2">Удалить комнату</th>
                </tr>
                <tr>
                    <th>Поверхность</th>
                    <th>Вид работы</th>
                    <th>Сумма за комнату</th>
                </tr>
                <tr th:if="${flat.getRooms}" th:each="room : ${flat.getRooms}">
                    <td th:text="${room.name}"></td>
                    <td>
                                <span th:switch="${room.form.name()}">
                                <p th:case="'RECTANGLE'"><img th:src="@{/images/Rectangle.jpg}" width="100px"/></p>
                                <p th:case="'L_SHAPED'"><img width="100px" th:src="@{/images/My.png}"/></p>
                                </span>
                    </td>
                    <td><span>Высота:</span><span th:text="${room.height}"></span>
                        <br>
                        <span>Ширина:</span><span th:text="${room.width}"></span>
                        <br>
                        <span>Длинна:</span><span th:text="${room.length}"></span>
                        <br>
                        <span th:switch="${room.form.name()}">
                                <p th:case="'L_SHAPED'">
                                    <span>Меньшая ширина:</span><span th:text="${room.widthSmall}"></span>
                                    <br>
                                    <span>Меньшая длинна:</span><span th:text="${room.lengthSmall}"></span>
                                    <br>
                                </p>
                        </span>
                        <br>
                        <span>Окна:</span>
                        <br>
                        <span th:text="${room.getRoomWindows}"></span>
                        <br>
                        <span>Двери:</span>
                        <br>
                        <span th:text="${room.getDoors}"></span>
                    </td>
                    <td style="white-space: nowrap">
                        <span>Площадь :</span>
                        <br>
                        <span>- пола: </span><span th:text="${room.getFloorArea} + м2"></span>
                        <br>
                        <span>- потолка: </span><span th:text="${room.getCeilingArea} + м2"></span>
                        <br>
                        <span>- стен: </span><span th:text="${room.getWallsArea} + м2"></span>
                        <br>
                        <span>- оконных откосов:</span><span th:text="${room.getWindowSlopeArea} + м2"></span>
                        <br>
                        <span>- дверных откосов: </span><span th:text="${room.getDoorSlopeArea} + м2"></span>
                        <br>
                        <span>Периметр пола: </span><span th:text="${room.getFloorPerimeter} + м"></span>
                        <br>
                    </td>
                    <td>

                        <li th:each="price:${room.getPriceSet}" th:text="${price}"></li>
                        <br>
                        <a th:href="@{../../prices/addPriceSet/{id}(id=${room.id})}">Добавить прайс работ по комнате</a>
                        <br>
                        <a th:href="@{../../prices/editPriceSet/{id}(id=${room.id})}">Просмотреть или изменить прайс работ по комнате</a>
                    </td>
                    <td colspan="3">
                        <table class="calculateRoom" >
                            <tbody>
                            <tr th:each="set :${room.getCalculateRoom()}">
                                <td th:text="${set.getKey().getSurface()}"></td>
                                <td th:text="${set.getKey().getType()}"></td>
                                <td th:text="${set.getValue()} + ' грн'"></td>
                            </tr>
                            <tr>
                                <td colspan="2">ИТОГО:</td>
                                <td th:text="${room.getAllCost}"></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td><span>Добавить:</span>
                        <br>
                        <a th:href="@{../../roomWindows/addWindow/{id}(id=${room.id})}" title="Окно"><img th:src="@{/images/win_1.jpg}" class="winRoom" alt="Окно"/></a>
                        <br>
                        <a th:href="@{../../doors/addDoor/{id}(id=${room.id})}" title="Двери"><img th:src="@{/images/door_1.jpg}" class="doorsRoom" alt="Двери"/></a>
                        <br>
                    </td>
                    <td><a th:href="@{../../rooms/deleteRoom/{id}(id=${room.getId()})}">Удалить комнату</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <li><a th:href="@{../../rooms/addRectangleRoom/{id}(id=${flat.getId()})}">Добавить прямоугольную комнату</a></li>
            <li><a th:href="@{../../rooms/addL_shapedRoom/{id}(id=${flat.getId()})}">Добавить Г-образную комнату</a>
            </li>
        </td>
        <td>
            <table>
            <tbody>
            <tr>
                <th>Поверхность</th>
                <th>Вид работы</th>
                <th>Сумма</th>
            </tr>
            <tr th:each="set :${flat.getCalculateFlat()}">
                <td th:text="${set.getKey().getSurface()}"></td>
                <td th:text="${set.getKey().getType()}"></td>
                <td th:text="${set.getValue()} + ' грн'"></td>

            </tr>
            <tr>
                <td colspan="2">ИТОГО:</td>
                <td th:text="${flat.getAllCost}"></td></tr>
            <a th:href="@{../../saveInfoOfFlat/{id}(id=${flat.getId()})}">Сохранить данные по объекту</a>
            </tbody>

            </table>
            <a th:href="@{../../viewInfoOfFlat/{id}(id=${flat.getId()})}">Просмотреть сохраненные данные по объекту</a>
        </td>
    </tr>
    </tbody>
</table>
<div><li><a href="../../flats">Вернуться к списку объектов</a></li></div>

</body>
</html>