<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Обьекты</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    </head>
<body>
    <h1>Список обьектов</h1>

    <table>
        <tbody>
            <tr>
                <th>Номер объекта</th>
                <th>Адресс</th>
                <th>Список комнат</th>
                <th>Добавить комнату</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="flat:${flats}">
                <td><a th:href="@{./flats/viewFlat/{id}(id=${flat.getId()})}" th:text="${flat.getId()}">Номер</a></td>
                <td th:text="${flat.getAddress}">Адресс</td>
                <td>
                    <table bgcolor="#f0ffff">
                        <tbody>
                        <tr>
                            <th>Форма комнаты</th>
                            <th>Название комнаты</th>
                            <th>Данные комнаты</th>
                            <th>Расчёты комнаты</th>
                            <th>Виды работ</th>
                            <th>Добавить/удалить проемы</th>
                            <th>Удалить комнату</th>
                        </tr>
                        <tr th:if="${flat.getRooms}" th:each="room : ${flat.getRooms}">
                            <td>
                                <span th:switch="${room.form.name()}">
                                <p th:case="'RECTANGLE'"><img th:src="@{/images/Rectangle.jpg}" width="100px"/></p>
                                <p th:case="'L_SHAPED'"><img width="100px" th:src="@{/images/My.png}"/></p>
                                </span>
                            </td>
                            <td th:text="${room.name}"></td>
                            <td><span>Высота:</span><span th:text="${room.height}"></span>
                                <br>
                                <span>Ширина:</span><span th:text="${room.width}"></span>
                                <br>
                                <span>Длинна:</span><span th:text="${room.length}"></span>
                                <br>
                                <span>Меньшая ширина:</span><span th:text="${room.width}"></span>
                                <br>
                                <span>Меньшая длинна:</span><span th:text="${room.length}"></span>
                                <br>
                                <span>Окна:</span><span th:text="${room.getRoomWindows}"></span>
                                <br>
                                <span>Двери:</span><span th:text="${room.getDoors}"></span>
                            </td>
                            <td>
                                <span>Площадь пола:</span><span th:text="${room.getFloorArea}"></span>
                                <br>
                                <span>Периметр пола:</span><span th:text="${room.getFloorPerimeter}"></span>
                                <br>
                                <span>Площадь потолка:</span><span th:text="${room.getCeilingArea}"></span>
                                <br>
                                <span>Площадь стен:</span><span th:text="${room.getWallsArea}"></span>
                                <br>
                                <span>Площадь оконных откосов:</span><span th:text="${room.getWindowSlopeArea}"></span>
                                <br>
                                <span>Площадь дверных откосов:</span><span th:text="${room.getDoorSlopeArea}"></span>
                                <br>
                            </td>
                            <td>
                                <li th:each="price:${room.getPriceSet}" th:text="${price}"></li>
                                <br>
                                <a th:href="@{./prices/addPriceSet/{id}(id=${room.id})}">Добавить прайс работ по комнате</a>
                                <br>
                                <a th:href="@{./prices/editPriceSet/{id}(id=${room.id})}">Изменить прайс работ по комнате</a>
                            </td>
                            <td>
                                <a th:href="@{./roomWindows/addWindow/{id}(id=${room.id})}">Добавить окно</a>
                                <br>
                                <a th:href="@{./doors/addDoor/{id}(id=${room.id})}">Добавить двери</a>
                                <br>
                            </td>
                            <td><a th:href="@{./rooms/deleteRoom/{id}(id=${room.id})}">Удалить комнату</a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <li><a th:href="@{./rooms/addRectangleRoom/{id}(id=${flat.getId()})}">Добавить прямоугольную
                        комнату</a></li>
                    <li><a th:href="@{./rooms/addL_shapedRoom/{id}(id=${flat.getId()})}">Добавить Г-образную комнату</a>
                    </li>
                </td>
                <td>
                    <a th:href="@{./flats/editFlat/{id}(id=${flat.getId()})}">edit</a></td>
                </td>
                <td><a th:href="@{./flats/deleteFlat/{id}(id=${flat.getId()})}">delete</a></td>

            </tr>
        </tbody>
    </table>


    <div><li><a href="./flats/addFlat">Добавить объект</a></li></div>

</body>
</html>
