<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Обьекты</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
<body>
    <h1>Список объектов</h1>

    <table>
        <tbody>
            <tr>
                <th>Адресс</th>
                <th>ФИО заказчика</th>
                <th>Телефон для связи</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="flat:${flats}">
                <td><a th:href="@{./flats/viewFlat/{id}(id=${flat.getId()})}" th:text="${flat.getAddress}">Адресс</a></td>
                <td><a th:text="${flat.getCustomerName}">ФИО заказчика</a></td>
                <td><a th:text="${flat.getCustomerPhone}">Телефон для связи</a></td>
                <td>
                    <a th:href="@{./flats/editFlat/{id}(id=${flat.getId()})}">edit</a>
                </td>
                <td><a th:href="@{./flats/deleteFlat/{id}(id=${flat.getId()})}">delete</a></td>

            </tr>
        </tbody>
    </table>


    <div><li><a href="./flats/addFlat">Добавить объект</a></li></div>

</body>
</html>
