<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление вида работ в прайс-лист</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Добавте вид работ в прайс-лист</h2>
<form th:method="post" th:action="@{/prices}" th:object="${price}">
    <label for="surface">Выберите группу поверхностей</label>
        <select type="text" th:field="*{surface}" id="surface">
            <option th:each="surface : ${T(com.example.renovationcostcalculator.model.price.Surface).values()}"
                    th:value="${surface}"
                    th:text="${surface}">
            </option>
        </select>
        <br>
    <label for="type">Вид работы</label>
    <input type="text" th:field="*{type}" id="type"/>
    <br>
    <label for="amount">Цена
    <input type="text" th:field="*{amount}" id="amount"/>грн за </label>
    <label>
        <input type="radio" th:field="*{unit}" name="unit" value="м2">
        м2
    </label>
    <label>
        <input type="radio" th:field="*{unit}" name="unit" value="мп">
        мп
    </label>
    <br>
    <input type="submit" value="Добавить"/>
</form>

</body>
</html>