<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Прайс</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
<body>
    <h1>Увеличение цены на процент</h1>
    <form th:method="post" th:action="@{/prices/saveChangePrices}">
        <label for="percent">Увеличить цены на процент: </label>
        <input type="number" id="percent" name="percent"/>
        <input type="submit" value="Подтвердить"/>
    </form>
    <div><li><a th:href="@{/flats}">Вернуться к информации по объектам</a></li></div>
</body>
</html>
