<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Прайс</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Измените прайс работ</h1>
<form th:method="PATH" th:action="@{/prices/savePriceSet}" th:object="${room}">
    <input type="hidden" name="id" id="id" th:field="*{id}" value="*{id}">
    <table>
        <tbody>
        <tr>
            <th>Группа поверхностей</th>
            <th>Вид работы</th>
            <th>Цена, грн</th>
            <th>За ед.измерения</th>
            <th>Выбрать</th>

        </tr>
        <tr th:each="price:${priceSet}" >
            <td th:text="${price.getSurface}"></td>
            <td th:text="${price.getType}"></td>
            <td th:text="${price.getAmount}"></td>
            <td th:text="${price.getUnit}"></td>
            <td><input type="checkbox"  name="priceIds" th:value="${price.getType}" checked/></td>
        </tr>
        <tr th:each="price:${priceSetAbsent}" >
            <td th:text="${price.getSurface}"></td>
            <td th:text="${price.getType}"></td>
            <td th:text="${price.getAmount}"></td>
            <td th:text="${price.getUnit}"></td>
            <td><input type="checkbox"  name="priceIds" th:value="${price.getType}" /></td>
        </tr>
        </tbody>

    </table>
    <input type="submit" value="Сохранить изменения в прайс работ по комнате"/>
</form>


    <div><li><a th:href="@{/flats}">Вернуться к информации по объектам</a></li></div>

</body>
</html>