<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Прайс</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
<body>
    <h1>Прайс работ</h1>

    <table>
        <tbody>
            <tr>
                <th>Группа поверхностей</th>
                <th>Вид работы</th>
                <th>Цена, грн</th>
                <th>За ед.измерения</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="price:${prices}">
                <td th:text="${price.getSurface}"></td>
                <td th:text="${price.getType}"></td>
                <td th:text="${price.getAmount}"></td>
                <td th:text="${price.getUnit}"></td>
                <td><a th:href="@{./prices/editPrice/{type}(type=${price.getType})}">edit</a></td>
                <td><a th:href="@{./prices/deletePrice/{type}(type=${price.getType})}">delete</a></td>

            </tr>
            <div><a href="/prices/downloadPrices">Загрузить прайс</a></div>
            <div><a href="/prices/changePrices/">Изменить цены в прайсе на %</a></div>

        </tbody>
    </table>


    <div><li><a th:href="@{../../prices/addPrice}">Добавить</a></li></div>
    <div><li><a th:href="@{/flats}">Вернуться к информации по объектам</a></li></div>
</body>
</html>
