<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление Г-образной комнаты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<img width="300px" th:src="@{/images/My.png}" />
<form method="PATCH" th:action="@{/rooms/saveL_shapedRoom}" th:object="${room}">
    <label for="name">Название</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="height">Высота</label>
    <input type="number" name="height" id="height"/>
    <br>
    <label for="length">Длинна</label>
    <input type="number" name="length" id="length"/>
    <br>
    <label for="width">Ширина</label>
    <input type="number" name="width" id="width"/>
    <br>
    <label for="lengthSmall">Длинна меньшая</label>
    <input type="number" name="lengthSmall" id="lengthSmall"/>
    <br>
    <label for="widthSmall">Ширина меньшая</label>
    <input type="number" name="widthSmall" id="widthSmall"/>
    <br>
    <input type="hidden" th:field="*{flat}" id="flat"/>
    <br>
    <input type="submit"   value="Добавить комнату"/>

</form>
</body>
</html>