<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление Г-образной комнаты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleS.css}"/>
</head>
<body>

<img width="300px" th:src="@{/images/L_shaped.png}" />
<form method="PATCH" th:action="@{/rooms/saveL_shapedRoom}" th:object="${room}">
    <label for="name">Название :
    <input type="text" name="name" id="name"/></label>
    <label for="height">Высота :
    <input type="number" name="height" id="height"/></label>
    <label for="length">Длинна :
    <input type="number" name="length" id="length"/></label>
    <label for="width">Ширина :
    <input type="number" name="width" id="width"/></label>
    <label for="lengthSmall">Длинна меньшая :
    <input type="number" name="lengthSmall" id="lengthSmall"/></label>
    <label for="widthSmall">Ширина меньшая :
    <input type="number" name="widthSmall" id="widthSmall"/></label>
    <input type="hidden" th:field="*{flat}" id="flat"/>
    <input type="submit"   value="Добавить комнату"/>

</form>
</body>
</html>