<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Добавление прямоугольной комнаты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleS.css}"/>
</head>
<body>
<form autocomplete="off" method="PATCH" th:action="@{/rooms/saveRectangleRoom}" th:object="${room}">
    <label for="name">Название :
    <input type="text" th:field="*{name}" id="name"/></label>
    <label for="length">Длина :
    <input type="number"  name="length" id="length"/></label>
    <label for="width">Ширина :
    <input type="number" name="width" id="width"/></label>
    <label for="height">Высота :
    <input type="number" name="height" id="height"/></label>
    <input type="hidden" th:field="*{flat}" id="flat"/></label>
    <input type="submit" value="Добавить комнату"/>
</form>

</body>
</html>